/* START CUSTOM CSS */

#map {
    top: 55px;
    width: 88vw; 
    height: 97vh;
    position: absolute;
}

#title {
    opacity: 1;
    position: absolute;
}

label {
	color: white;
	font-size: 14px;
}

.sidebar-nav > .sidebar-brand {
    color: white;
    max-width:93%;
    white-space:nowrap;
    overflow:hidden;
    border:1px solid red
}

/* END CUSTOM CSS */